.hero-edit-container {
  background: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  padding: 10px;
  align-items: center; //De acuerdo al flex centra los items
  min-height: 70%;
  width: 670px;
  margin-top: 160px;

  .form-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    font-family: 'Helvetica';
    font-size: 18px;
    margin-bottom: 15px;
  }
  .form-row > label {
    padding: 10px 5px 5px 10px;
    display: none;
    margin-top: 20px;
    margin-right: 15px;
    width: 150px;
  }
  .form-row > input {
    margin-top: 15px;
    width: 320px;
    font-family: 'Helvetica';
    font-size: 18px;
  }

  .hero-image {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 70px;
  }

  img {
    min-width: 200px;
    min-height: 200px;
  }

  .form-row > input,
  .form-row > button {
    padding: 15px;
  }

  .option-buttons {
    display: flex;
    justify-content: space-around;
  }

  .option-buttons > button {
    color: white;
    border: 0;
    font-family: 'Helvetica';
    font-size: 18px;
    background-color: rgba(255, 0, 0, 0.8);
    padding: 15px;
    width: 100px;
  }
}

@media all and (min-width: 500px) {
  .hero-edit-container {
    .form-row > label {
      display: block;
    }
  }
}
@media all and (min-width: 600px) {
  .hero-edit-container {
    .form-row {
      flex-direction: row;
    }
    .form-row label {
      flex-basis: 9rem;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}
