<div class="hero-edit-container">
  <form>
    <ul class="hero_edit_data">
      <li class="form-row">
        <label for="name">Name</label>
        <input type="text" id="name">
      </li>
      <li class="form-row">
        <label for="height">Height </label>
        <input type="text" id="height">
      </li>
      <li class="form-row">
        <label for="nickname">Nickname</label>
        <input type="text" id="nickname">
      </li>
      <li class="form-row">
        <button type="submit">Submit</button>
      </li>
    </ul>
  </form>
</div>
