// Names
$white_opacity: rgba(255, 255, 255, 0.8);
$red_opacity: rgba(255, 0, 0, 0.8);
$main_font: 'Helvetica';
$white: white;
$background_hover: #f2dfd7;
$red: red;
$white: white;
$card_font_color: #696969;
$black: black;
