.heroes-box {
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.hero-card  img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.hero-card {
  width: 230px;
  height: 230px;
  background: white;

}
