@import '../../../assets/scss/variables';

.loading-container {
  background: $white_opacity;
  padding: 0;
  align-items: center;
  list-style: none;
  min-height: 30%;
  width: 30%;
  margin-top: 160px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;

  &__message {
    font-family: $main_font;
    margin-left: 20px;
    font-size: 26px;
  }
}

.error-container {
  @extend .loading-container;

  &__message {
    font-family: $main_font;
    margin-left: 20px;
    font-size: 23px;
  }

  &__image {
    width: 80px;
    height: 80px;
    float: left;
  }
}


.noheroes-container {
  @extend .loading-container;

  &__message {
    font-family: $main_font;
    margin-left: 20px;
    font-size: 23px;
  }

  &__image {
    width: 80px;
    height: 80px;
    float: left;
  }
}

.heroes-container {
  background: $white_opacity;
  display: inline-block;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  align-items: center; //De acuerdo al flex centra los items
  list-style: none;
  min-height: 60%;
  width: 70%;
  margin-top: 160px;
  padding: 5px;

  .heroe-card {
    width: 350px;
    height: 190px;
    background: white;
    margin: auto;
    border-radius: 25px;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 5px;
    &:hover {
      background: $background_hover;
      @extend .zoom-background-hover;
    }

    &__image {
      border-radius: 50%;
      width: 140px;
      height: 140px;
      float: left;
      margin-left: 10px;
      margin-top: 20px;

      &:hover {
        @extend .zoom-background-hover;
      }

      &:active {
        @extend .zoom-background-hover;
      }
    }

    &__dot {
      background-color: $red_opacity;
      border-radius: 50%;
      display: inline-block;
      top: 0;
      left: -30px;
      position: relative;
      top: 15px;
      right: 0;
      width: 60px;
      height: 60px;
      text-align: center;

      &:hover {
        @extend .zoom-background-hover;
      }

      &__content {
        font-family: $main_font;
        color: white;
        font-size: 18px;
      }
    }
     &__data  {
      position: relative;
      right: 10px;
      left: 40px;
      font-family: $main_font;
      color: $card_font_color;

      &:hover {
        @extend .zoom-background-hover;
      }

      &__nickname {
        color: $red;
        font-size: 22px;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .heroes-container {
    min-width: 320px;
    .heroe-card {
      width: 205px;
      height: 152px;
      min-width: 280px;
      min-height: 152px;

      &__image {
        width: 120px;
        height: 120px;
      }
      &__dot {
        width: 45px;
        height: 45px;
        min-width: 45px;
        min-height: 45px;
        &__content {
          color: $white;
          font-size: 16px;
        }
      }
      &__data {
        color: $card_font_color;
        font-size: 14px;
        right: 5px;
        left: 15px;
        word-wrap: break-word;
      }
    }
  }
}
.zoom-background-hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
}
