.heroes-container {
  background: rgba(255, 255, 255, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center; //De acuerdo al flex centra los items
  list-style: none;
  min-height: 70%;
  min-width: 70%;
  position: absolute;

  .hero-card {
    width: 350px;
    height: 190px;
    background: white;
    margin: auto;
    border-radius: 10%;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
    img {
      border-radius: 50%;
      width: 140px;
      height: 140px;
      float: left;
      margin-left: 10px;
      margin-top: 20px;
    }

    .dot {
      height: 25px;
      width: 25px;
      background-color: rgba(255, 0, 0, 0.8);
      border-radius: 50%;
      display: inline-block;
      top: 0; /*[wherever you want it]*/
      left: -30px;
      position: relative;
      top: 15px;
      right: 0;
      width: 60px;
      height: 60px;
      text-align: center;

      p {
        font-family: 'Helvetica';
        color: white;
        font-size: 22px;
      }
    }

    .content {
      position: relative;
      right: 10px;
      left: 40px;
      font-family: 'Helvetica';
      color: #696969;

      .content_nickname {
        color: red;
        font-size: 22px;
      }
    }
  }
}

@media screen and (max-width: 1560px) {
  .heroes-container {
    min-height: 80%;
    min-width: 80%;
  }
}


@media screen and (max-width: 1360px) {
  .heroes-container {
    min-height: 90%;
    min-width: 90%;
  }
}


@media screen and (max-width: 1100px) {
  .heroes-container {
    height: 60%;
    width: 90%;
  }
}
