<div class="heroes-container">
  <li class="hero-card" *ngFor="let heroe of heroes; let i = index" (click)="modifyHero(heroe._id)">
    <div class="img">
      <img [src]="heroe._picture" alt="Avatar">
    </div>
    <div class="circle">
      <span class="dot">
        <p> {{ heroe.getIdString() }} </p>
      </span>
    </div>


    <div class="content">
      <div class="content_nickname">
        <span> <strong> {{ heroe._nickname }} </strong> </span>
      </div>
      <div class="content_name">
        <span> {{ heroe._name}} </span>
      </div>
      <div class="content_height">
        <span> Estatura: {{ heroe._height }} </span>
      </div>
    </div>
  </li>
</div>
