<div class="heroes-container">
    <div class="hero-card" *ngFor="let heroe of heroes" (click)="modifyHero(heroe._id)">
      <div class="img">
        <img [src]="heroe._picture" alt="Avatar">
      </div>
      <div class="circle">
        <span class="dot">
          <p> {{ heroe._id | idPipe }} </p>
        </span>
      </div>
      <div class="content">
        <div class="content_nickname">
          <strong> {{ heroe._nickname }} </strong>
        </div>
        <div class="content_name">
          <span> {{ heroe._name}} </span>
        </div>
        <div class="content_height">
          <span> Estatura: {{heroe._height | heightPipe }} mt </span>
        </div>
      </div>
    </div>
  </div>