.heroes-container {
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center; //De acuerdo al flex centra los items
  list-style: none;
  min-height: 70%;
  width: 70%;
  margin-top: 160px;

  .hero-card {
    width: 350px;
    height: 190px;
    background: white;
    margin: auto;
    border-radius: 10%;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
    img {
      border-radius: 50%;
      width: 140px;
      height: 140px;
      float: left;
      margin-left: 10px;
      margin-top: 20px;
    }

    .dot {
      background-color: rgba(255, 0, 0, 0.8);
      border-radius: 50%;
      display: inline-block;
      top: 0; /*[wherever you want it]*/
      left: -30px;
      position: relative;
      top: 15px;
      right: 0;
      width: 60px;
      height: 60px;
      text-align: center;

      p {
        font-family: 'Helvetica';
        color: white;
        font-size: 22px;
      }
    }
    .content {
      position: relative;
      right: 10px;
      left: 40px;
      font-family: 'Helvetica';
      color: #696969;

      .content_nickname {
        color: red;
        font-size: 22px;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .heroes-container {
    min-width:280px;
    .hero-card {
      width: 205px;
      height: 152px;
      min-width:280px;
      min-height: 152px;

      img {
        width: 120px;
        height: 120px;
      }
      .dot {
        width: 45px;
        height: 45px;
        min-width:45px;
        min-height: 45px;
        p {
          color: white;
          font-size: 16px;
        }
      }
      .content {
        color: #696969;
        font-size: 14px;
        right: 5px;
        left: 15px;
        word-wrap: break-word;
        .content_nickname {
          color: red;
        }
      }
    }
  }
}
