* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../src/assets/images/heroesgeneral.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

}

.container {
  height: 100%;

}



@media screen and (max-width: 1100px) {
   body {
     height: 3000px;
   }
}



